html {
  height: 100%;
  margin: 0;
}

body {
  font-size: 15pt;
  background-image: url(/2465568.jpg);
  /* background-image: url(/1366x768-43184-Windows-11-BlueWindows-11-4k-Ultra-HD-Wallpaper.jpg); */
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: segoeui-vf;
  overflow: hidden;
}

.cursor {
  position: fixed;
  width: 10px;
  height: 15px;
  z-index: 100;
}

.context-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  height: auto;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid #525252;
  border-radius: 6px;
  font-size: 14px;
}

.context-menu-item {
  padding: 0.4em 1em;
  display: flex;
  flex-direction: column;
}

.context-menu-item:nth-child(3),
.context-menu-item.context-menu-item:nth-child(4),
.context-menu-item:nth-child(6) {
  border-bottom: 1px solid #525252;
}

.context-menu-item:last-child {
  padding-bottom: 0.6em;
}

.context-menu-item:hover {
  background-color: rgba(80, 80, 80, 0.6);
}

.apps-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  left: 10px;
}

.apps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  gap: 5px;
}

.apps:hover {
  background-color: rgba(80, 80, 80, 0.3);
}

.apps-ico {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 2px black);
}

.apps-name {
  text-align: center;
  width: 14ch;
  text-shadow: 0px 0px 1px black;
}

.taskbar {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  backdrop-filter: blur(50px);
  left: 0px;
  border-top: 1px solid #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.taskbar-ico {
  width: 30px;
  height: 30px;
}

.widgets {
  position: fixed;
  left: 10px;
}

.date-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  font-size: 12px;
  text-shadow: 0px 0px 1px black;
}

.chevron-up {
  font-family: ico;
  border-radius: 6px;
  padding: 10px;
}

.tray {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tray-list {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #252525;
  border-radius: 6px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 100%;
  box-shadow: 0px 0px 5px black;
}

.tray-ico {
  width: 20px;
  height: 20px;
}

.taskbar-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  right: 10px;
}

.start-menu {
  display: none;
  width: 80%;
  height: 60%;
  background-color: transparent;
  backdrop-filter: blur(20px);
  position: fixed;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  border-radius: 6px;
  border: 1px solid #525252;
  animation: startmenu 0.2s;
  transition: display 0.2s allow-discrete;
  box-shadow: 0px 0px 10px black;
}

.search-menu {
  display: none;
  width: 80%;
  height: 70%;
  position: fixed;
  bottom: 60px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border-radius: 6px;
  border: 1px solid #525252;
  box-shadow: 0px 0px 4px black;
  left: 50%;
  transform: translateX(-50%);
  animation: startmenu 0.2s;
  transition: display 0.2s allow-discrete;
}

.search-menu-type {
  width: 80%;
  height: 20px;
  border: 1px solid #747474;
  border-bottom: 2px solid #0015FF;
  border-radius: 100px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(58, 58, 58, 0.2);
  padding-left: 20px;
  font-family: segoeui-vf;
  box-shadow: 0px 0px 4px black;
}

.search-menu-type:focus {
  outline: none;
}

.search-type {
  width: 80%;
  height: 30px;
  border: 1px solid #747474;
  border-bottom: 2px solid #0015FF;
  border-radius: 4px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(58, 58, 58, 0.2);
  padding-left: 20px;
  font-family: segoeui-vf;
  box-shadow: 0px 0px 4px black;
}

.search-type:focus {
  outline: none;
}

.widgets-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  height: 90%;
  background-color: transparent;
  backdrop-filter: blur(20px);
  position: fixed;
  left: 10px;
  bottom: 60px;
  border-radius: 6px;
  border: 1px solid #525252;
  animation: widgetsmenu 0.2s;
  transition: display 0.2s allow-discrete;
  box-shadow: 0px 0px 10px black;
}

.widget-grid {
  margin-top: 20px;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.times-widgets {
  font-size: 25px;
  margin-top: 10px;
  text-shadow: 0px 0px 1px black;
}

.search-widgets {
  width: 80%;
  height: 30px;
  border: 1px solid #525252;
  padding-left: 20px;
  border-bottom: 2px solid #0015FF;
  border-radius: 4px;
  background-color: rgba(58, 58, 58, 0.2);
  font-family: segoeui-vf;
  color: white;
  box-shadow: 0px 0px 4px black;
}

.search-widgets:focus {
  outline: none;
}

.widget1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
}

.widget2,
.widget3 {
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.widget4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}

.widget5 {
  grid-column: span 2 / span 2;
  grid-row-start: 7;
}

.widget6,
.widget7 {
  grid-row-start: 8;
}

.widget1,
.widget2,
.widget3,
.widget4,
.widget5,
.widget6,
.widget7 {
  border-radius: 6px;
  background-color: rgba(58, 58, 58, 0.2);
  box-shadow: 0px 0px 5px black;
}

.widget1:hover,
.widget2:hover,
.widget3:hover,
.widget4:hover,
.widget5:hover,
.widget6:hover,
.widget7:hover {
  border: 1px solid white;
}

.tab {
  display: block;
  width: 300px;
  height: 500px;
  position: fixed;
  top: 40px;
  left: 40px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  z-index: 20;
  border-radius: 6px;
  border: 1px solid #525252;
}

.tab-header {
  display: flex;
  padding: 5px 0px;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 0px;
  gap: 10px;
  background-color: rgba(94, 94, 94, 0.5);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.tab-function {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: fixed;
  right: 10px;
  gap: 25px
}

.tab-title {
  font-size: 12px;
  margin-left: 10px;
}

.close-tab {
  padding-bottom: 3px;
}

.max-tab {
  padding-bottom: 5px;
}

.min-tab {
  padding-bottom: 15px;
}

.selection-rectangle {
  background-color: rgba(35, 53, 255, 0.22);
  border: 1px solid #0AA9FF;
  position: absolute;
}

@keyframes startmenu {
  0% {
    bottom: -100%;
  }
  
  100% {
    bottom: 60px;
  }
}

@keyframes slidedown {
  0% {
    bottom: 60px;
  }
  
  100% {
    bottom: -100%;
  }
}

@keyframes widgetsmenu {
  0% {
    left: -100%;
  }
  
  100% {
    left: 10px;
  }
}

@keyframes leftslide {
  0% {
    left: 10px;
  }
  
  100% {
    left: -100%;
  }
}

@keyframes trayup {
  0% {
    bottom: 0%;
    margin-bottom: 0px;
  }
  
  100% {
    bottom: 100%;
    margin-bottom: 10px;
  }
}

@keyframes traydown {
  0% {
    bottom: 100%;
    margin-bottom: 10px;
  }
  
  100% {
    bottom: 0%;
    margin-bottom: 0px;
  }
}

@keyframes trayclicked {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(180deg);
  }
}

@font-face {
  font-family: ico;
  src: url(/font/segoeico.ttf);
}

@font-face {
  font-family: segoeui-vf;
  src: url(/font/SegoeUI-VF.ttf);
}